<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jenking.graduatesinternship">

    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/application"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/application"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 启动页 -->
        <activity android:name=".activitys.common.StartupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 学生主页 -->
        <activity android:name=".activitys.student.StudentMainActivity" />
        <activity android:name=".activitys.common.LoginActivity" />
        <activity android:name=".activitys.common.RegisterActivity" />
        <activity android:name=".activitys.common.SettingActivity" />
        <activity android:name=".activitys.teacher.TeacherMainActivity" />
        <activity android:name=".activitys.student.StudentDataActivity" />
        <activity android:name=".activitys.student.StudentResumeListActivity" />
        <activity android:name=".activitys.student.StudentRecruitDeliveryActivity" />
        <activity android:name=".activitys.student.StudentRecruitCollectionActivity" />
        <activity android:name=".activitys.common.MessageActivity" />
        <activity android:name=".activitys.common.RecruitDetailActivity" />
        <activity android:name=".activitys.student.StudentInternShipDetailActivity" />
        <activity android:name=".activitys.common.RecruitSearchActivity" />
        <activity android:name=".activitys.student.StudentInternshipOperateActivity" />
        <activity android:name=".activitys.common.UserInfoActivity" />
        <activity android:name=".activitys.common.UserInfoModifyActivity" />
        <activity android:name=".activitys.common.UserInfoAvatarActivity" />
        <activity android:name=".activitys.student.StudentPersonalSkillListActivity" />
        <activity android:name=".activitys.student.StudentPersonalSkillOperateActivity" />
        <activity android:name=".activitys.student.StudentPersonalCertListActivity" />
        <activity android:name=".activitys.student.StudentPersonalCertOperateActivity" />
        <activity android:name=".activitys.student.StudentEducationExpListActivity" />
        <activity android:name=".activitys.student.StudentEducationExpOperateActivity" />
        <activity android:name=".activitys.student.StudentEducationExpDetailActivity" />
        <activity android:name=".activitys.student.StudentResumeOperateActivity" />
        <activity android:name=".activitys.student.StudentResumeDetailActivity" />
        <activity android:name=".activitys.student.StudentResumeSelectActivity" />
        <activity android:name=".activitys.student.StudentResumeEnclosureActivity" />
        <activity android:name=".activitys.student.StudentTutorActivity" />
        <activity android:name=".activitys.teacher.ShowStudentDataActivity" />
        <activity android:name=".activitys.common.MessageSendActivity" />
        <activity android:name=".activitys.teacher.ShowStudentBaseInfoActivity" />
        <activity android:name=".activitys.teacher.ShowStudentInternshipListActivity" />
        <activity android:name=".activitys.student.StudentRecruitDeliveryOperateActivity"></activity>
    </application>

</manifest>